/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: rgb(36, 35, 35);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* App */
.container {
	height: 100vh;
}
.title {
	font-size: 8vw;
	margin-left: 4vw;
	margin-top: 2.5vh;
	margin-bottom: 2vh;
}
.mode-buttons {
	display: flex;
	flex-direction: row;
	gap: 2vw;
	margin-left: 12vw;
}
.mode-button {
	background-color: rgba(0, 0, 0, 0.531);
	border: none;
	color: white;
	font-size: 1vw;
	width: 16vw;
	height: 6vh;
}
.mode-button:hover {
	background-color: rgba(148, 148, 39, 0.787);
	cursor: pointer;
	cursor:text hello;
}
.navbar {
	display: flex;
	background-color: rgba(126, 126, 126, .5);
	justify-content: space-around;
	align-items: flex-start;
	position: fixed;
	border: white 2px solid;
	color: white;
	font-size: 2vw;
	margin-top: -2vh;
	padding-top: 1.5vh;
	margin-left: 60vw;
	z-index: 15;
	width: 35vw;
	height: 10vh;
}
.navbar:hover {
	background-color: rgba(126, 126, 126, .8);
}
.searchFunctionLabelBox {
	display: flex;
	gap: 1vh;
	align-items: center;
	flex-direction: column;
}
.searchInputs {
	display: flex;
	height: 3vh;
	flex-direction: row;
	align-items: center;
}
#searchForCountryInput {
	height: 3vh;
	width: 12vw;
	border: none;
	background-color: rgba(178, 178, 178, 0.52);
}
#searchForCountryButton {
	background-color: rgba(245, 245, 245, 0.523);
	border: none;
	height: 3vh;
}
#searchForCountryButton:hover {
background-color: black;
color: whitesmoke;
}
.countryInfoContainer {
	display: flex;
	flex-direction: column;
	position: fixed;
	align-items: center;
	justify-content: space-around;
	top: 12vh;
	z-index: 5;
	background-color: rgba(95, 158, 160, 0.863);
	border-top-right-radius: 25%;
	border-bottom-right-radius: 25%;
	height: 76vh;
	width: 4vw;
	transition: 1s ease-in-out;
}
.countryInfoContainer:hover {
	border-top-right-radius: 0%;
	border-bottom-right-radius: 0%;
	width: 100vw;
	overflow-x: auto;
	transition: 1s ease-in-out;
}
.carousel {
	display: flex;
	flex-direction: row;
	gap: 5vw;
	background-color: rgba(95, 158, 160, 0.863);
	justify-content: space-around;
	transition: 1.5s ease-in-out;
}
@keyframes fadeInAnimation {
	0% {
			opacity: 0;
	}
	100% {
			opacity: 1;
	 }
}
.tile {
	display: flex;
	background-color: antiquewhite;
	height: 60vh;
	width: 20vw;
	animation: fadeInAnimation 3s ease;
	animation-fill-mode: forwards;
}
.mapContainer {
	display: flex;
	justify-content: center;
	margin-top: 5vh;
}
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	width: 80vw;
	margin-top: 6vh;
	margin-left: 10vw;
	border-top: 5px solid black;
}
