/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: rgb(36, 35, 35);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* App */
.container {
	height: 100vh;
}
.login {
	display: flex;
	flex-direction: column;
	color: whitesmoke;
	text-align: center;
	gap: 2vh;
	font-size: 1vw;
	align-items: center;
	justify-content: center;
	margin-top: 5vh;
}
.loginText {
	font-size: 2vw;
}
.userSelection {
	display: flex;
	flex-direction: row;
	gap: 10vw;
}
.userButtons {
	width: 15vw;
	height: 5vh;
}
.userButtons:focus {
	background-color: pink;
}
.title {
	font-size: 8vw;
	margin-left: 4vw;
	margin-top: 2.5vh;
	margin-bottom: 2vh;
}
.mode-buttons {
	display: flex;
	flex-direction: row;
	gap: 2vw;
	margin-left: 12vw;
}
.mode-button, .logoutButton {
	background-color: rgba(0, 0, 0, 0.531);
	border: none;
	color: white;
	font-size: 1vw;
	width: 16vw;
	height: 6vh;
}
.mode-button:hover, .logoutButton:hover {
	background-color: rgba(148, 148, 39, 0.787);
	cursor: pointer;
	cursor:text hello;
}
.navbar {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	position: fixed;
	border: white 2px solid;
	background-color: rgba(126, 126, 126, .5);
	color: white;
	font-size: 2vw;
	margin-top: -1vh;
	padding-top: 2vh;
	margin-left: 57vw;
	z-index: 15;
	width: 41vw;
	height: 10vh;
	transition: 1.25s ease-in-out;
}
#navbar {

}
/* #navbar:hover {
	background-color: rgba(126, 126, 126, .9);
} */
.searchFunctionLabelBox {
	display: flex;
	gap: 1vh;
	align-items: center;
	flex-direction: column;
}
.searchInputs {
	display: flex;
	height: 3vh;
	flex-direction: row;
	align-items: center;
}
#searchForCountryInput {
	height: 3vh;
	width: 12vw;
	border: none;
	background-color: rgba(178, 178, 178, 0.52);
}
#searchForCountryButton {
	background-color: rgba(245, 245, 245, 0.523);
	border: none;
	height: 3vh;
}
#searchForCountryButton:hover {
background-color: black;
color: whitesmoke;
}

@keyframes flashSideBar {
	50% {
		background-color: red;
	}
}

.countryInfoContainer, .countryInfoContainerToggle {
	display: flex;
	flex-direction: column;
	position: fixed;
	align-items: center;
	justify-content: space-around;
	top: 12vh;
	z-index: 5;
	background-color: rgba(95, 158, 160, 0.863);
	border-top-right-radius: 25%;
	border-bottom-right-radius: 25%;
	height: 76vh;
	width: 4vw;
	min-width: 40px;
	transition: .75s ease-in-out;
	animation: none;
}
#countryInfoContainerToggle {
	border-top-right-radius: 0%;
	border-bottom-right-radius: 0%;
	background-color: rgba(95, 158, 160, 0.863);
	height: 80vh;
	width: 100vw;
	overflow-x: hidden;
	transition: 1.5s ease-in-out;
}
.placeholderText {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0);
	width: 100vw;
	height: 50vh;
	font-size: 4vw;
}
.carousel::-webkit-scrollbar {
	height: 8vh;
	background-color: rgba(0, 0, 0, 0.841);
}
.carousel::-webkit-scrollbar-thumb {
	height: 10vh;
	border: rgb(255, 255, 255) 2px solid;
	width: 2vw;
	background-color: rgba(91, 91, 91, 0.717);
}
.openButton {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 3.5vh;
	border: none;
	font-size: 4vw;
	width: 3.5vw;
	height: 20vh;
	background-color: rgba(255, 255, 255, 0);
}
.openButton:hover {
	transform: scale(1.25);
}
.closeButton {
	position: fixed;
	right: 4vw;
	top: 15vh;
	font-size: 3vw;
	transition: 1.5s ease-in-out;
	background-color: rgba(255, 255, 255, 0);
	border: none;
}
.closeButton:hover {
	background-color: azure;
	transform: scale(1.25);
}
.carousel {
	display: flex;
	flex-direction: row;
	justify-content: first baseline;
	gap: 3vw;
	overflow-x: auto;
	overflow-y: hidden;
	background-color: rgba(0, 0, 0, .1);
	transition: 1.5s ease-in-out;
	width: 100vw;
}
.tileBox {
	width: 25vw;
	padding: 2vw;
}
.tile {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding-top: 1.5vw;
	gap: 2vh;
	font-size: 1.75vw;
	padding: 4vw;
	background-color: rgba(255, 255, 255, 0.897);
	height: 50vh;
	width: 20vw;
	/* transition: 1.5s ease-in-out; */
}
.tileInfoHeader {
	font-size: 1.75vw;
}
.tileInfoData {
	font-size: 1.45vw;
	margin-left: 2.5vw;
	margin-top: 1vh;
}
.buttonsDiv {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2vw;
	width: 20vw;
}
.spotifyButton, .addFavButton {
	width: 11.5vw;
	height: 6vh;
	font-size: 1.15vw;
	color: whitesmoke;
	background-color: rgb(45, 45, 45);
}
.spotifyButton:hover, .addFavButton:hover {
	background-color: rgba(0, 133, 60, 0.824);
	cursor: pointer;
}
.mapContainer {
	display: flex;
	justify-content: center;
	margin-top: 5vh;
}
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	width: 80vw;
	margin-top: 6vh;
	margin-left: 10vw;
	border-top: 5px solid black;
}
